<%= simple_form_for(@cocktail) do |f| %>
<h1 class="form-header">Add a new cocktail</h1>
  <%= f.input :name %>
  <%= f.input :photo%>
  <%= f.input :stars, collection: [0,1,2,3,4,5]%>
  <%= f.input :photo_cache, as: :hidden %>
  <div class="centered">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

