<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @cocktail.image_url %>);">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="details-container">
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="details-container-list">
        <h4>Ingredient List</h4>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li>
              <%= "#{dose.description} #{dose.ingredient.name}"%>
              <%= link_to(dose_path(dose), method: :delete) do  %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="details-container-form">
        <%= render 'doses/form' %>
      </div>
    </div>
  </div>
</div>


